<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lists</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Lists
      </h1>
    </header>

    <main>
      <section id="vue-app">
        <div id="items">
          <article :class="li.className" v-for="li in byList">
            {{li.name}}
            <button @click="deleteItem" :data-name="li.name" class="finished" type="button">X</button>
          </article>
        </div>
      </section>
      <a href="/add" class="button">Add to List</a>
    </main>

    <!-- import the webpage's client-side javascript file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="/index.js"></script>

  </body>
</html>
