/* styles */
/* called by your view template */

/* * {
  box-sizing: border-box;
} */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input, select {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button, .button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

.button {
  padding: 5px;
  text-decoration: none;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}


/*** columns ***/

#items {
  columns: 15em;
  /* column-count: 2; */
  column-gap: 1em;
  margin-bottom: 1em;
  /* border: 1px solid purple; */
}

#items .item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid; /* Firefox is dumb */
  break-inside: avoid;
}

/* pretty it up! */

#items .item {
  border-radius: .5em;
  margin: 1em 0;
  background-color: #CCC;
  padding: .5em;
}

#items .item:first-child {
  margin-top: 0;
}

#items .item:nth-child(odd) {
  background-color: #f59fff;
}

#msg {
  margin-bottom: 15px;
}

#items .heading {
  background-color: blue !important;
  color: white;
  font-weight: bold;
}

.finished {
  position: absolute;
  right: 10px;
}

.item {
  position: relative;
}